body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.tablink {
    background-color: #f2f2f2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tablink:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
    border-radius: 0 0 10px 10px;
    transition: height 0.3s;
    overflow: hidden;
}

.tabcontent.active {
    display: block;
    position: absolute;
    top: 50px; /* Ajustez cette valeur selon la hauteur de vos onglets */
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    height: auto;
}

.tablink.active {
    background-color: #ccc;
}


/* Style des tableaux */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Style pour l'effet de superposition */
.tabcontent.active {
    display: block;
    position: absolute;
    top: 50px; /* Ajustez cette valeur selon la hauteur de vos onglets */
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
}

.tablink.active {
    background-color: #ccc;
}
