/* Reset some default styles */
body, h1, form, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.form-container {
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.center-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px; /* Adjust padding for a cleaner look */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Adjust box-shadow */
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Style the form */
form {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form elements */
label {
    display: block;
    margin-bottom: 12px; /* Increase space between labels and input fields */
    font-weight: bold; /* Make labels bold for better readability */
}


input[type='text'],
input[type='password'], /* Ajoutez un style pour les champs de type password */
input[type='tel'], /* Ajoutez un style pour les champs de type téléphone */
select {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #ddd; /* Add a subtle border */
    border-radius: 6px; /* Adjust border-radius for a cleaner look */
}


select {
    width: 100%;
}

input[type="submit"] {
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent;
  z-index: 10;
  background: linear-gradient(to right, #071982 50%, #80ffd3 50%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
  background-size: 200% 100%;
  background-position: right bottom;
}
input[type="submit"]:hover {
  background-position: left bottom;
}

/* Style the header */
h1 {
    text-align: center;
    color: #333;
}

input[type="date"] {
    border: .2em solid #071982;
    padding: .8em .9em;
    border-radius: 2em;
    color: #071982;
}

/* Style pour la partie texte du champ de date */
input[type="date"]::-webkit-datetime-edit-text {
    color: 0a113a;
    padding: 0 0.3em;
}

/* Style pour le bouton de sélection du calendrier */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E91E63' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E"); 
}
