@media only screen and (max-width: 600px) {
    .appartement-proprio {
        width: 100%; /* Pour que les cartes d'appartement prennent toute la largeur de l'écran */
    }
    .row {
        flex-direction: column; /* Pour afficher les appartements en une seule colonne */
    }
    
    .appartements-container {
        width: 100%; /* Pour que les cartes d'appartement prennent toute la largeur de l'écran */
    }
    
    .custom-pro {
        width: 100%; /* Pour que les cartes d'appartement prennent toute la largeur de l'écran */
    }
    
    .button-container {
        width: 100%; /* Pour que les cartes d'appartement prennent toute la largeur de l'écran */
    }
}

.appartements-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    color: #071982;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.appartement-proprio {
    width: 60%; /* Set the width of each apartment card */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-right: 10px; /* Add some margin between apartment cards */
}

.appartement-proprio strong {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #071982;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
/* Ajoutez ces styles pour appliquer le même style à un lien que celui défini pour un bouton */
.link-button {
    background-color: #071982;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #2980b9;
}

.appartement-proprio:hover {
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.appartement-proprio {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.appartement-proprio p {
    margin: 0;
}

h2 {
    color: #071982; /* Couleur bleue */
    font-size: 32px; /* Taille de police plus grande */
    margin-bottom: 20px; /* Marge inférieure accrue */
    text-align: center; /* Centrer le texte */
    text-transform: uppercase; /* Convertir le texte en majuscules */
    letter-spacing: 2px; /* Espacement entre les lettres */
}
/* Ajoutez ce style pour le bouton de visite */
/* Ajoutez ce style pour le bouton de visite avec effet visuel */
.visit-button {
    background-color: #071982;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.visit-button:hover {
    background-color: #0a113a;
    transform: scale(1.1);
}
/* Ajoutez ces styles à votre feuille de style CSS */
.form-input {
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #071982;
	background: rgba(#071982, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #071982;
}
/* Styles pour le champ de date */
input[type="date"] {
    border: .2em solid #071982;
    padding: .8em .9em;
    border-radius: 2em;
    color: #071982;
}

/* Style pour la partie texte du champ de date */
input[type="date"]::-webkit-datetime-edit-text {
    color: 0a113a;
    padding: 0 0.3em;
}

/* Style pour le bouton de sélection du calendrier */
input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E91E63' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E"); 
}

.custom-pro {
    background-color: #071982;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.custom-pro:hover {
    background-color: #0a113a;
    transform: scale(1.1);
}
    /* Style for the modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Style for the modal content */
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    /* Style for the close button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* style formulaire*/
    body, h1, form, table {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: #f4f4f4;
    }
    .form-container {
        max-width: 600px;
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }
    .center-form {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 30px; /* Adjust padding for a cleaner look */
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Adjust box-shadow */
    }
    .formulaire .form {
        max-width: 600px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }       
    .formulaire .label {
        display: block;
        margin-bottom: 12px; /* Increase space between labels and input fields */
        font-weight: bold; /* Make labels bold for better readability */
    }
    input[type='text']:not(.search-form),
    input[type='password']:not(.search-form),
    input[type='tel']:not(.search-form) {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 6px;
    }
    select:not(.search-form) {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin-top: 5px;
        margin-bottom: 15px;
        background-color: #fff;
        font-size: 16px;
        color: #333;
    }

    input[type="submit"]:not(.search-form):not(.search-button) {
      font-family: "proxima-nova", sans-serif;
      font-weight: 500;
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #fff;
      cursor: pointer;
      text-align: center;
      text-transform: capitalize;
      border: 1px solid #fff;
      border-radius: 50px;
      position: relative;
      overflow: hidden;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background: transparent;
      z-index: 10;
      background: linear-gradient(to right, #071982 50%, #80ffd3 50%);
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
      background-size: 200% 100%;
      background-position: right bottom;
    }
    input[type="submit"]:hover {
        background-position: left bottom;
      }
      
      /* Style the header */
      h1 {
          text-align: center;
          color: #333;
      }
      
      input[type="date"] {
          border: .2em solid #071982;
          padding: .8em .9em;
          border-radius: 2em;
          color: #071982;
      }
      input[type="date"]::-webkit-datetime-edit-text {
        color: 0a113a;
        padding: 0 0.3em;
    }
    
    /* Style pour le bouton de sélection du calendrier */
    input[type="date"]::-webkit-calendar-picker-indicator {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E91E63' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E"); 
    }
     

/*acceuil*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #939fe0; /* Change to your preferred hover color */
}

nav div {
    float: right;
    margin-top: 10px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    background-color: #333; /* Ajoutez une couleur de fond à votre choix */
    padding: 20px; /* Ajoutez une marge interne pour plus d'espace */
}
header h1, header h2 {
    text-shadow: 2px 2px 4px #333;
    letter-spacing: 1px;
}
header h1 {
    font-family: 'Your Preferred Font', sans-serif;
}

header h1 {
    margin: 0;
    color: #fff; /* Ajoutez la couleur du texte pour contraster avec le fond */
    font-size: 26px;
}
header h2 {
    margin: 0;
    color: #fff; /* Ajoutez la couleur du texte pour contraster avec le fond */
    font-size: 15px;
}

header p {
    color: #f2e8e8;
    font-size: 18px;
}
/* Style pour le bouton "Rechercher" */
.search-button {
    background-color: #007bff; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Arrondi des bords */
    cursor: pointer; /* Curseur au survol */
    transition: background-color 0.3s ease; /* Animation de transition */
}

/* Ajout d'une icône de loupe */
.search-button::after {
    content: "\1F50D"; /* Code Unicode pour l'icône de loupe */
    margin-left: 5px; /* Espacement entre le texte et l'icône */
}

/* Changement de couleur de fond au survol */
.search-button:hover {
    background-color: #0056b3;
}


/* Changement de couleur de fond au survol */
.search-button:hover {
    background-color: #0056b3;
}
.search-form select {
    /* Définissez la taille de la police et la couleur */
    font-size: 16px;
    color: #333;
    /* Ajoutez du rembourrage pour l'apparence */
    padding: 8px;
    /* Définissez la largeur */
    width: 200px;
    /* Style de bordure */
    border: 1px solid #ccc;
    /* Style de la bordure lorsque le curseur est sur le champ */
    border-color: #666;
    /* Style de la bordure lorsque le champ est en surbrillance */
    outline: none;
    /* Style de la flèche du sélecteur */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-repeat: no-repeat;
    background-position: right center;
    /* Ajoutez une marge pour laisser de l'espace pour l'image de fond */
    padding-right: 30px;
}

/* Style lorsque le champ est en survol */
.search-form select:hover {
    border-color: #999;
}

/* Style lorsque le champ est en focus */
.search-form select:focus {
    border-color: #00c;
}

.cbody {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

#profil {
    max-width: 600px;
    max-width: 800px;
    margin: 20px auto;
}

#profil p {
    
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: #071982;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #80ffd3, #071982);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

button:hover::before {
    opacity: 0;
}

button:hover {
    color: #071982;
    background-color: #80ffd3;
}

/* Dynamic styles for apartment divs */
.visite {
    max-width: 600px; /* Réglez la largeur maximale selon vos préférences */
    margin: 15px auto; /* Centre l'élément horizontalement */
    background-color: #f0f0f0;
    border: 2px solid #071982;
    border-radius: 10px;
    padding: 15px;
    transition: max-height 0.3s ease-in-out; /* Ajoute une transition */
}

.visite p {
    margin: 8px 0;
}

/* Show full content on hover */
.visite:hover {
    max-height: 200px; /* Set the max height to a larger value on hover */
}


